<?php

return array(
	'baseDirectory' => '<YOUR_ZEND_BASE_DIRECTORY>',
	'database' => array(
		'hostname' => "<HOSTNAME>",
		'username' => "<USERNAME>",
		'password' => "<PASSWORD>",
		'database' => '<DATABASE_NAME>',
	),
);
