<?php

return array(
	'baseDirectory' => 'YOUR_ZEND_BASE_DIRECTORY',
	'database' => array(
		'hostname' => "localhost",
		'username' => "root",
		'password' => "vagrant",
		'database' => 'DATABASE_NAME',
	),
);
